<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main style="padding-top: 6rem;">
                <% if (prods.length > 0) { %>
                    <h1 class="heading text-center pt-4" style=" border-bottom: 1px solid rgb(255, 123, 0);"><em>Featured Products</em></h1>
                    <div class="grid">
                        <% for (let product of prods) { %>
                            <article class="card product-item">
                                
                                <div class="card__image">
                                    <img src="/<%= product.imageUrl %>" alt="<%= product.title %>">
                                </div>
                                <header class="card__header">
                                    <h1 class="product__title" style="font-size: 1.5rem; font-weight: 700;">
                                        <%= product.title %>
                                    </h1>
                                </header>
                                <div class="card__content">
                                    <h2 class="product__price" style="font-size: 1.5rem; font-weight: 700;">₹
                                        <%= product.price %>
                                    </h2>
                                    
                                </div>
                                <div class="card__actions">
                                    <a href="/products/<%= product._id %>" class="btn">Details</a>
                                    <% if (isAuthenticated) { %>
                                        <%- include('../includes/add-to-cart.ejs', {product: product}) %>
                                    <% } %>
                                </div>
                            </article>
                            <% } %>
                    </div>
                    <%- include('../includes/pagination.ejs', {currentPage: currentPage, nextPage: nextPage,previousPage: previousPage,lastPage: lastPage, hasNextPage: hasNextPage, hasPreviousPage: hasPreviousPage }) %>
                    <% } else { %>
                        <h1>No Products Found!</h1>
                        <% } %>
            </main>
            <%- include('../includes/end.ejs') %>